<h1>Users#show</h1>
<h1>Users#show</h1>
<h1>Mon profil</h1>

<%= @user.email %>

<%= link_to "Editer mon profil", edit_user_path(@user), class: "btn btn-primary" %>

<%= link_to "Supprimer mon profil", @gossip, method: :delete, class: "btn btn-danger" %>
